@import url('https://fonts.googleapis.com/css2?family=Exo+2&display=swap');

body { 
    background-color: rgb(20,33,61);
    height: 3840px;
    font-family: 'Exo 2', sans-serif;
    margin: 0px;
  }
  
.page1 {
    width: 100%;
    height: 850px;
    background-image: url('img/bigearth.png'),url('img/mars.png'),url('img/moon.png'),url('img/alienplanet.png');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: -600px -900px, bottom right, 400px 500px, 950px 20px;
}

.page2 {
    width: 100%;
    height: 1080px;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 4rem;
}

.breadtext{
    color: white;
    text-align: center;
}
